<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/analysis">Analysis</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>

  <section class="content">
    <h2>About the Project</h2>
    <p>This project uses deep learning to detect dental caries from teeth images. It’s built using Flask and a trained Keras model to assist in early diagnosis.</p>
  </section>
</body>
</html>
